- if current_work.present?
  Job level:
  = current_work.level
- else
  You have no job now

- if current_work.present?
  .work_button#receive_money
    Receive Money
  .work_button#level_up_work
    Work Level Up
- else
  .work_button#take_a_job
    Take A Job
