- if @work.present?
  Job level:
  = @work.level
- else
  You have no job now

- if @work.present?
  .work_button#receive_money
    Receive Money
  .work_button#level_up_work
    Work Level Up
- else
  .work_button#take_a_job
    Take A Job
