.header
  .avatar
  .summary

    Name:
    = @character.name
    %br
    Level:
    = @character.level
    %br
    Money:
    = @character.money

  .nav-button#character
    Character
  .nav-button#work
    Work
  .nav-button#houses
    Houses
  .nav-button#thief
    Thief
